.nav {
    height: 5vh;
    position: static;
    border-bottom: 5px solid var(--accent);
    background-color: var(--background);
    padding-left: 2em;
    padding-right: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>div:first-child {
    display: flex;
    align-items: center;
    gap: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.numberCard {
    border: 2px solid black;
    padding: 3px;
    border-radius: 50%;
    width: 1.25em;
    cursor: pointer !important;
    text-align: center;
}

.numberCard:hover {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}

.active {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: white;
}

.active:hover {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: white;
}

.sessions {
    display: flex;
    gap: 0.5em;
}

.addSessionCard {
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.addSessionCard:hover {
    opacity: 1;
    /* transition: 0.1s; */
}