.charGroup {
    background-color: var(--secondary);
    /* min-height: 100vh; */
    width: 95%;
    height: 100vh;
    padding-left: 1vw;
    /* height: 120%; */
}

.cardActions {
    /* style={{display: "flex", justifyContent: "space-between", width: "100%"}}  */
    display: "flex";
    justify-content: "space-between";
    width: 100%;
}

.pinned-card {
    padding: 20px;
    cursor: pointer;
    /* border-bottom: 1px solid silver; */
} 

.pin-card {
    /* background-color: var(--background);
    color: var(--primary); */
    background-color: rgb(255, 255, 195);
}

.pin-card:hover {
    background-color: var(--primary);
    color: var(--background);
}

/* .pin-btn-set {
    color: var(--primary);
}

.pin-btn:hover {
    color: var(--primary);
} */

.delete-btn:hover {
    color: rgb(208, 0, 0);
}

.noselection {
    background-color: white;
    margin: 2em;
    margin-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
    height: auto;
}

.noselection > span {
    display: block;
    margin-top: 1em;
}

.campaigndata-odd, .campaigndata-even {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#campaignInfo {
    text-align: left;
    margin-top: 1em;
}

#campaignInfo>*>tr>th, #campaignInfo>*>tr>td {
    border: 1px solid black;
    padding: 1em;
}

#nocampaignalert {
    margin-top: 1em;
}

#homeButtonContainer {
    margin-top: 0.5em;
}

#homeButton {
    height: 100%;
    /* background-color: white; */
    /* color: black; */
}

@media (min-width: 800px) {
    .card-avatar {
        display: flex;
        justify-content: center;
    }
    .characterActions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 0px) and (max-width: 800px) {
    .card-avatar {
        display: none;
    }
}