body {
    background-color: var(--background);
}

.characterData {
    background-color: var(--secondary);
    height: 100vh;
    width: 100%;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.char-card-content {
    margin-left: 1vw;
    margin-right: 1vw;
}

.charname {
    font-weight: bold;
    font-size: 18px;

}

.card-avatar {
    height: 50%;
    border-radius: 50%;
    position: static;
    /* z-index: 0; */
}

.character-card {
    background-color: white;
    /* margin-left: 1em;
    margin-right: 2em;
    margin-right: auto; */
    padding: 20px;
    cursor: pointer;
    /* border-top: 3px solid var(--accent); */
}

.character-card:hover {
    background-color: var(--primary);
    color: var(--background);
}

.levelback {
    /* background-color: black; */
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    line-height:35px;
}

.search {
    margin-top: 1vh;
    background-color: var(--background);
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(219, 219, 219); 
}

.add-search {
    cursor: not-allowed;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: gray;
    padding: 20px;
}

.add-character {
    margin-top: 1em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */
    background-color: var(--primary);
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.add-character>svg {
    font-size: 30px;
    color: white;
}

.add-character:hover>svg {
    color: var(--text);
}

.add-character:hover {
    background-color: var(--primary);
    /* border: 0.3em solid black; */
}

.essential-input {
    border: 0px solid blue;
    display: inline-block;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: inherit;
    line-height: inherit;
    vertical-align: inherit;
    text-align: left;
    color: inherit;
    font: inherit;
    background: none;
    overflow-wrap: break-word;
    inline-size: inherit;
}

.avatarModal {
    width: 400px;
    border: 8px solid black;
    background-color: white;
    padding: 5%;
    opacity: 1;
    left: calc(50vw - 400px * 0.65);
    top: 10vh;
    position: absolute;
}